@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
/* font-family: Agbalumo; */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
/* font-family: 'Sacramento', cursive; */


.App {
  font-family: "Poppins", sans-serif;
}

.al-c{
  display: flex;
  align-items: center;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.spBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spEven{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

ul li{
  list-style-type: none;
}

button{
  outline: 0;
  border: 1px solid #ddd;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

input{
  outline: none;  
  font-family: "Poppins", sans-serif;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio:3/4;
  object-position: center;
}